<div class="jumbotron text-center">
  <h1>MyWorkShop is coming soon..</h1>
  <p>Thanks for patience!</p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>ROR Tutorials</h3>
      <p>Coming Soon...</p>
    </div>
    <div class="col-sm-4">
      <h3>My App</h3>
      <p>Coming Soon...</p>
    </div>
    <div class="col-sm-4">
      <h3>Q/A</h3>
      <p>Coming Soon...</p>
    </div>
  </div>
</div>